%h1 Editing user

= render 'form'

%hr

%table
  %tr
    %th Name
    %th Points
  - @user.players.each do |p|
    %tr
      %td= p.full_name
      %td= p.points

= form_tag add_player_user_path(@user), :method => :post do
  = hidden_field_tag :player_id
  = label_tag 'Player Name:'
  = text_field_tag :player_name
  = submit_tag 'Add'

:javascript
  $(function() {
    $.ajax({
      url: "/players.xml",
      dataType: "xml",
      success: function(response){
        var data = $("player", response).map(function() {
          return {
            value: $("full-name", this).text() + " (" + $("team-name", this).text() + ")",
            id: $("id", this).text()
          };
        }).get();
        $('#player_name').autocomplete({
          source: data,
          minLength: 1,
          select: function(event, ui) {
            $('#player_id').attr('value', ui.item.id); 
          }
        });
      }
    });
  });

