%p#notice= notice

%h2= "#{@user.full_name}: #{@user.total_points} points"

%table
  %tr
    %th Name
    %th Points
  - @user.players.each do |p|
    %tr
      %td= p.full_name
      %td= p.points

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
