%p#notice= notice

%h2= "#{@user.full_name}: #{@user.total_points} points"

%table
  %tr
    %th Name
    %th Team
    %th Points
  - @user.players.each do |p|
    %tr{:class => (p.eliminated? ? 'eliminated' : nil)}
      %td= p.full_name
      %td= p.team
      %td= p.points

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
