%p#notice= notice

%p
  %b Team:
  = @player.team
%p
  %b First name:
  = @player.first_name
%p
  %b Last name:
  = @player.last_name
%p
  %b Points:
  = @player.points

= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
